@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
  }

  .scrollbar-default {
    /* IE and Edge */
    -ms-overflow-style: auto;

    /* Firefox */
    scrollbar-width: auto;
  }
}

body {
  padding: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  width: 100%;
}

h2 {
  background: rgb(241 245 249);
}

a {
  color: rgb(14 116 144);
  font-weight: 500;
  text-decoration: none;
}

textarea {
  border: none;
  line-height: 1.75rem;
}

b {
  font-weight: bold;
}

table {
  border-width: 1px;
  width: 100%;

  thead {
    td {
      border-width: 1px;
      color: #444;
      font-size: 0.9rem;
      padding: 0.5rem;
      text-align: center;
    }
  }
  tbody {
    td {
      border-width: 1px;
      line-height: 1.5rem;
      padding: 0.5rem;
    }
  }
}

ol,
dl {
  list-style: inside;
  list-style-position: outside;
}

ol {
  margin-left: 1rem;
}

ol > li {
  margin: 0.5rem 0;
}

pre {
  display: inline;
  font-size: 0.9rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
